<div class="nav_search-wrap">
  <div class="search-wrap--centered" id="docsearch"></div>
</div>
<script type="module" is:inline data-astro-rerun>
  docsearch({
    container: '#docsearch',
    appId: "8WNI3N1ZOE",
    apiKey: "f4cb4d083472d83667e0fcd9a10a9e64",
    indexName: "orm-drizzle",
    placeholder: "문서 검색...",
  });
</script>
<style>
  .nav_search-wrap {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 12px;
    max-width: 420px;
  }

  @media screen and (max-width: 768px) {
    .nav_search-wrap {
      display: none;
    }
  }
</style>
